name: release
on:
  push:
    branches: master

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - id: query
        uses: romnn/query-git-action@master

      # - name: Login to DockerHub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and push
      #   run: |
      #     brane login https://index.docker.io/v1/ --username romnn
      #     brane build container.yml
      #     brane push kaggle ${{ steps.query.outputs.stable_docker_tag }}

      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     platforms: linux/amd64
      #     push: true
      #     cache-from: type=local,src=/tmp/.buildx-cache
      #     cache-to: type=local,dest=/tmp/.buildx-cache
      #     tags: |
      #       romnn/kaggle-brane:latest
      #       romnn/kaggle-brane:${{ steps.query.outputs.stable_docker_tag }}

      # - name: Build and push
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     platforms: linux/amd64
      #     push: true
      #     cache-from: type=local,src=/tmp/.buildx-cache
      #     cache-to: type=local,dest=/tmp/.buildx-cache
      #     tags: |
      #       romnn/kaggle-brane:latest
      #       romnn/kaggle-brane:${{ steps.query.outputs.stable_docker_tag }}
